
.box dl{
  padding: 10px;
  width: 270px;
  text-align: center;
  
  margin: 10px;
  
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
a:hover img {
   filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  opacity: 0.7;
}
.user{
  text-align: left;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-left: solid 1px black;
  border-right: solid 1px black;
  border-bottom: solid 1px black;
  margin-top: -8px;
}

img{
  border: solid 1px black;
}
.icon{
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  width:  50px;       /* ※縦横を同値に */
  height: 50px;
}
p{
  display: inline-block;
  padding-left: 15px;
  font-family: Impact,Charcoal;
}

