
.box dl{
  padding: 10px;
  width: 270px;
  text-align: center;
  
  margin: 10px;
  
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;
}
a:hover img {
   filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  opacity: 0.7;
}
.user{
  text-align: left;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-left: solid 1px black;
  border-right: solid 1px black;
  border-bottom: solid 1px black;
  margin-top: -8px;
  margin-bottom: 40px;
}

img{
  border: solid 1px black;
 
}
.icon{
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  width:  50px;       /* ※縦横を同値に */
  height: 50px;
}
p{
  display: inline-block;
  padding-left: 15px;
  
}

table{
  margin-top: 90px;
}

.nav1{
  margin-top: 60px;
}

.icon2{
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  width:  200px;       /* ※縦横を同値に */
  height: 200px;
}
.btn{
  border: solid 1px;
  margin: 10px 30px;
  
}
.name{
  font-size: 45px;
  margin-left: 30px;
  
}
.box2{
  display: inline-block;
  margin-left: -30px;
  margin-top: 60px;
}
.info{
  
  font-size: 20px;
  margin-left: 30px;
  
}

.box3{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}


.box3 dl{
  padding: 10px;
  width: 270px;
  text-align: center;
  margin: 10px;
  
}
.user1{
  text-align: left;
  padding: 10px;
  border: solid 1px;
}

.btn1{
  background-color: white;
  border: solid 1px;
}
footer{
    width: 100%;
    background-color: black;
    color: #fff;
    text-align: center;
    padding-top:  10px;
    margin-top: auto;
    height: 50px;
   
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
}
.container{
  margin-top: 50px;
  margin-bottom: 30px;
}

.navbar{
  position: fixed;
  width: 100%;
  top:0;
  z-index:100;
}
.info2 {
    font-family: monospace;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.text-center{
  margin-top: 30px;
}
.mgr-10{
    margin-left : 10px;
}

.table2{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.pagination{
  justify-content: center;
  }
.search{
 margin-top: auto;
}
